version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: inventory_db
    restart: always

    ports:
      - "5432:5432"

    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_NAME}

    volumes:
      - ./postgres_data:/var/lib/postgresql/data